// @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;500&family=Dancing+Script:wght@500&family=Happy+Monkey&family=IBM+Plex+Sans+Arabic&family=Itim&family=Orbitron:wght@500&family=Oswald&family=Roboto:wght@100;300&family=Tangerine&display=swap');

.header {
    position: relative;
    z-index: 6;
    width: 307px;
    height: 68.489px;
    flex-shrink: 0;
    padding: 3rem;
}

.exchange {
    display: flex;
    gap: 13.787px;

    background: #F0F0F0;

    margin: 5.6rem auto;


    position: relative;
    z-index: 1;
    border-radius: 31.053px;

    width: 472.754px;
    height: 81.482px;
    padding: 15.111px;
    flex-shrink: 0;


    .converter {
        display: flex;
        width: 162.277px;
        height: 69.547px;
        padding: 13.787px;
        justify-content: center;
        align-items: center;
        gap: 13.787px;
        border-radius: 31.053px;

        background: #FFF;
        color: #141414;
        font-family: Poppins;
        font-size: 20.804px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: -.5rem;

    }

    .compare {
        display: flex;
        width: 162.277px;
        height: 69.547px;
        padding: 13.787px;
        justify-content: center;
        align-items: center;
        gap: 13.787px;
        flex-shrink: 0;
        border-radius: 31.053px;
        color: #141414;
        font-family: Poppins;
        font-size: 20.804px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        // background: #FFF;
        margin-top: -.5rem;
        margin-left: 5rem;


    }
}